.PageNav {
    background-color: #222222;
    color: #eeeeee;
    padding: 8px;

    display: flex;
    justify-content: space-between;

    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
}

.PageNav-start {
    width: 200px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
}

.PageNav-mid {
    flex: 1;

    display: flex;
    justify-content: center;
}

.PageNav-mid-search {
    display: flex;
    background-color: red;
    border 1px solid #ccc;
    border-radius: 9999px;
    overflow: hidden;
    width: 400px;
}

.PageNav-mid-search > input {
    flex: 1;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    font-size: 1rem;
}

.PageNav-mid-search > button {
    padding: 0.5rem 1rem;
    background-color: #f8f8f8;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    border-left: 1px solid #ccc;
    color: #555;
}

.PageNav-end {
    width: 200px;
}

.VideoGrid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    position: absolute;
    top: 60px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: auto;
    scrollbar-width: none;
}

.VideoGrid::-webkit-scrollbar {
    display: none;
}

.VideoCard {
  padding: 0.5rem;
  min-width: 33.33%;
}

.VideoCard-thumbnail {
  width: 100%;
  aspect-ratio: 16 / 9;
  margin-bottom: 0.5rem;
  
  border-radius: 15px;
  overflow: hidden;
}

.VideoCard-info {
  display: flex;
}

.VideoCard-info-left {
  width: 60px;
}

.VideoCard-info-left > div {
  background-color: #444444;
  width: 50px;
  height: 50px;
  border-radius: 9999px;
  overflow: hidden;
}

.VideoCard-info-right {
  flex: 1;

  display: flex;
  flex-direction: column;
}

.VideoCard-info-right > p {
  font-size: 10pt;
  color: #555555;
}
