.PageNav {
    background-color: #222222;
    color: #eeeeee;
    padding: 8px;

    display: flex;
    justify-content: space-between;
}

.PageNav-start {
    width: 200px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
}

.PageNav-mid {
    flex: 1;

    display: flex;
    justify-content: center;
}

.PageNav-mid-search {
    display: flex;
    background-color: red;
    border 1px solid #ccc;
    border-radius: 9999px;
    overflow: hidden;
    width: 400px;
}

.PageNav-mid-search > input {
    flex: 1;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    font-size: 1rem;
}

.PageNav-mid-search > button {
    padding: 0.5rem 1rem;
    background-color: #f8f8f8;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    border-left: 1px solid #ccc;
    color: #555;
}

.PageNav-end {
    width: 200px;
}
